.env
pinchflat/
jellyfin/
tailscale/
diun_data/
gotify-data/
igotify-data/
tailscale-pinchflat/
tailscale-ntfy/
tailscale-searxng/
tailscale-jellyfin/
tailscale-isaiah/
tailscale-open-webui/
tailscale-dashy/
tailscale-gotify/
tailscale-igotify/
