.env
pinchflat/
jellyfin/
tailscale/
diun_data/
gotify_data/
igotify-data/
immich-library/
tailscale-pinchflat/
tailscale-ntfy/
tailscale-searxng/
tailscale-jellyfin/
tailscale-isaiah/
tailscale-open-webui/
tailscale-dashy/
tailscale-gotify/
tailscale-igotify/
tailscale-grafana/
tailscale-prometheus/
tailscale-immich/
*_data/
tailscale-*/
pinchflat_dbs/
tclip_storage/
movies/
blueray/
syncthing/
audio/
config/tandoor.json
mediafiles/
searxng/settings.yml.new
series/
tv/
youtube/

.direnv/
