services:
  tandoor:
    image: vabene1111/recipes:2.3.6
    container_name: tandoor
    restart: unless-stopped
    network_mode: service:ts-tandoor
    volumes:
      - staticfiles:/opt/recipes/staticfiles
      - ./mediafiles:/opt/recipes/mediafiles
    depends_on:
      - tandoor_db
    environment:
      TZ: Europe/Berlin
      TANDOOR_PORT: 8080
      # https://github.com/TandoorRecipes/recipes/issues/3478
      ALLOWED_HOSTS: tandoor.dropbear-butterfly.ts.net,127.0.0.1
      SECRET_KEY: Ex5PEs6AB+tcLAo9JSWZh5AwR2eDdIGyp1Ahsgqvcma0pj9bzj
      SOCIAL_PROVIDERS: ${TANDOOR_SOCIAL_PROVIDERS}
      SOCIALACCOUNT_PROVIDERS: ${TANDOOR_SOCIALACCOUNT_PROVIDERS}
      DB_ENGINE: django.db.backends.postgresql
      POSTGRES_HOST: tandoor_db
      POSTGRES_DB: tandoor
      POSTGRES_PORT: 5432
      POSTGRES_USER: tandoor
      POSTGRES_PASSWORD: abc123abc123
  tandoor_db:
    image: postgres:18.0-alpine3.22
    container_name: tandoor_db
    restart: unless-stopped
    volumes:
      - tandoor_pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: tandoor
      POSTGRES_PASSWORD: abc123abc123
      POSTGRES_DB: tandoor
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 2
      start_period: 15s
    labels:
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
  node-exporter:
    image: quay.io/prometheus/node-exporter:v1.10.2
    container_name: node_exporter
    command:
      - "--path.rootfs=/host"
    network_mode: service:ts-node-exporter
    pid: host
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:9100/metrics"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    volumes:
      - "/:/host:ro,rslave"
    labels:
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
  syncthing:
    image: lscr.io/linuxserver/syncthing:2.0.10
    container_name: syncthing
    hostname: homelab #optional
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
    volumes:
      - ./syncthing/config:/config
      - ./blueray:/blueray
      - ./movies:/movies
      - ./youtube:/youtube
      - ./series:/series
      - ./tv:/tv
      - ./audio:/audio
    ports:
      - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8384/rest/noauth/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
  pinchflat:
    image: ghcr.io/kieraneglin/pinchflat@sha256:01b4f98aabaf3f5fe394213f7a32578c9e84e42080f52e2f8334021a4473b202
    tty: true
    stdin_open: true
    container_name: pinchflat
    network_mode: service:ts-pinchflat
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
      - ENABLE_PROMETHEUS=1
      - LOG_LEVEL=warning
    volumes:
      - ./pinchflat/config:/config
      - ./youtube:/downloads
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8945/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
  whatsupdocker:
    image: ghcr.io/getwud/wud:8.1.1
    tty: true
    stdin_open: true
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: service:ts-wud
    restart: unless-stopped
    healthcheck:
      test: curl --fail http://localhost:${WUD_SERVER_PORT:-3000}/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    labels:
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - "wud.link.template=https://github.com/getwud/wud/releases/tag/$${major}.$${minor}.$${patch}"
  tclip:
    container_name: tclip
    volumes:
      - ./tclip_storage:/data
    environment:
      - DATA_DIR=/data
      - "TS_AUTHKEY=${TS_AUTH_KEY}"
      - ENABLE_LINE_NUMBERS=true
      - ENABLE_WORD_WRAP=true
    restart: unless-stopped
    image: ghcr.io/tailscale-dev/tclip:latest@sha256:c6fc003a7ce24eff96a36b6055b316c307a798399555dba545452e6aeafca3c7
    labels:
      - "wud.tag.include=latest"
      - "wud.watch.digest=true"
  jellyfin:
    container_name: jellyfin
    tty: true
    stdin_open: true
    depends_on:
      - ts-jellyfin
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/CET
      - JELLYFIN_PublishedServerUrl=https://jellyfin.dropbear-butterfly.ts.net
    healthcheck:
      interval: 3m
      retries: 3
      test: ["CMD", "curl", "-f", "http://localhost:8096/health"]
      timeout: 30s
    image: ghcr.io/linuxserver/jellyfin:10.11.1
    network_mode: service:ts-jellyfin
    labels:
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
      - "wud.link.template=https://github.com/jellyfin/jellyfin/releases/tag/v$${major}.$${minor}.$${patch}"
    restart: unless-stopped
    volumes:
      - ${PWD}/jellyfin/library:/config
      - ${PWD}/youtube:/data/youtube
      - ${PWD}/movies:/data/my_movies
      - ${PWD}/blueray:/data/blueray
      - ${PWD}/series:/data/series
      - ${PWD}/tv:/data/tv
      - ${PWD}/audio:/data/audio
  valkey-searxng:
    container_name: valkey-searxng
    image: valkey/valkey:9.0.1-alpine3.23
    restart: unless-stopped
    network_mode: service:ts-searxng
    command: valkey-server --bind 0.0.0.0
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  searxng:
    container_name: searxng
    depends_on:
      ts-searxng:
        condition: service_started
      valkey-searxng:
        condition: service_healthy
    environment:
      - BASE_URL=https://searxng.dropbear-butterfly.ts.net/
      - INSTANCE_NAME=SearxNG
    healthcheck:
      interval: 1m30s
      retries: 3
      start_period: 40s
      test: ["CMD", "wget", "-nv", "-t1", "--spider", "0.0.0.0:8080/"]
      timeout: 10s
    image: searxng/searxng:2025.12.30-a5c946a32
    labels:
      - homepage.group=Search
      - homepage.name=SearxNG
      - homepage.icon=emby.png
      - homepage.href=http://searxng.home/
      - homepage.description=Meta search engine
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
      - "wud.link.template=https://github.com/searxng/searxng/releases/tag/$${major}.$${minor}.$${patch}"
    network_mode: service:ts-searxng
    restart: unless-stopped
    volumes:
      - ${PWD}/searxng:/etc/searxng
  ts-jellyfin:
    cap_add:
      - net_admin
      - sys_module
    container_name: ts-jellyfin
    devices:
      - /dev/net/tun:/dev/net/tun
    dns:
      - 100.100.100.100 # For tailnet address (<mach>.<tailnet>.ts.net) lookups.
      - 1.1.1.1 # For external lookups.
    environment:
      - "TS_AUTHKEY=${TS_AUTH_KEY}"
      # - "TS_EXTRA_ARGS=--advertise-tags=tag:container"
      - "TS_SERVE_CONFIG=/config/jellyfin.json"
      - "TS_STATE_DIR=/var/lib/tailscale"
      - "TS_USERSPACE=false"
    hostname: jellyfin
    image: tailscale/tailscale:v1.92.4
    restart: unless-stopped
    volumes:
      - ${PWD}/tailscale-jellyfin/state:/var/lib/tailscale
      - ${PWD}/config:/config
    labels:
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
      - "wud.link.template=https://github.com/tailscale/tailscale/releases/tag/$${major}.$${minor}.$${patch}"
  ts-searxng:
    cap_add:
      - net_admin
      - sys_module
    container_name: ts-searxng
    devices:
      - /dev/net/tun:/dev/net/tun
    dns:
      - 100.100.100.100 # For tailnet address (<mach>.<tailnet>.ts.net) lookups.
      - 1.1.1.1 # For external lookups.
    environment:
      - "TS_AUTHKEY=${TS_AUTH_KEY}"
      # - "TS_EXTRA_ARGS=--advertise-tags=tag:container"
      - "TS_SERVE_CONFIG=/config/searxng.json"
      - "TS_STATE_DIR=/var/lib/tailscale"
      - "TS_USERSPACE=false"
    hostname: searxng
    image: tailscale/tailscale:v1.92.4
    restart: unless-stopped
    volumes:
      - ${PWD}/tailscale-searxng/state:/var/lib/tailscale
      - ${PWD}/config:/config
    labels:
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
      - "wud.link.template=https://github.com/tailscale/tailscale/releases/tag/$${major}.$${minor}.$${patch}"
  ts-wud:
    cap_add:
      - net_admin
      - sys_module
    container_name: ts-wud
    devices:
      - /dev/net/tun:/dev/net/tun
    dns:
      - 100.100.100.100 # For tailnet address (<mach>.<tailnet>.ts.net) lookups.
      - 1.1.1.1 # For external lookups.
    environment:
      - "TS_AUTHKEY=${TS_AUTH_KEY}"
      # - "TS_EXTRA_ARGS=--advertise-tags=tag:container"
      - "TS_SERVE_CONFIG=/config/wud.json"
      - "TS_STATE_DIR=/var/lib/tailscale"
      - "TS_USERSPACE=false"
    hostname: wud
    image: tailscale/tailscale:v1.92.4
    restart: unless-stopped
    volumes:
      - ${PWD}/tailscale-wud-data/state:/var/lib/tailscale
      - ${PWD}/config:/config
    labels:
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
      - "wud.link.template=https://github.com/tailscale/tailscale/releases/tag/$${major}.$${minor}.$${patch}"
  ts-pinchflat:
    cap_add:
      - net_admin
      - sys_module
    container_name: ts-pinchflat
    devices:
      - /dev/net/tun:/dev/net/tun
    dns:
      - 100.100.100.100 # For tailnet address (<mach>.<tailnet>.ts.net) lookups.
      - 1.1.1.1 # For external lookups.
    environment:
      - "TS_AUTHKEY=${TS_AUTH_KEY}"
      # - "TS_EXTRA_ARGS=--advertise-tags=tag:container"
      - "TS_SERVE_CONFIG=/config/pinchflat.json"
      - "TS_STATE_DIR=/var/lib/tailscale"
      - "TS_USERSPACE=false"
    hostname: pinchflat
    image: tailscale/tailscale:v1.92.4
    restart: unless-stopped
    volumes:
      - ${PWD}/tailscale-pinchflat-data/state:/var/lib/tailscale
      - ${PWD}/config:/config
    labels:
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
      - "wud.link.template=https://github.com/tailscale/tailscale/releases/tag/$${major}.$${minor}.$${patch}"
  ts-node-exporter:
    cap_add:
      - net_admin
      - sys_module
    container_name: ts-node-exporter
    devices:
      - /dev/net/tun:/dev/net/tun
    dns:
      - 100.100.100.100 # For tailnet address (<mach>.<tailnet>.ts.net) lookups.
      - 1.1.1.1 # For external lookups.
    environment:
      - "TS_AUTHKEY=${TS_AUTH_KEY}"
      # - "TS_EXTRA_ARGS=--advertise-tags=tag:container"
      - "TS_SERVE_CONFIG=/config/node-exporter.json"
      - "TS_STATE_DIR=/var/lib/tailscale"
      - "TS_USERSPACE=false"
    hostname: node-exporter
    image: tailscale/tailscale:v1.92.4
    restart: unless-stopped
    volumes:
      - ${PWD}/tailscale-node-exporter-data/state:/var/lib/tailscale
      - ${PWD}/config:/config
    labels:
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
      - "wud.link.template=https://github.com/tailscale/tailscale/releases/tag/$${major}.$${minor}.$${patch}"
  ts-tandoor:
    cap_add:
      - net_admin
      - sys_module
    container_name: ts-tandoor
    devices:
      - /dev/net/tun:/dev/net/tun
    dns:
      - 100.100.100.100 # For tailnet address (<mach>.<tailnet>.ts.net) lookups.
      - 1.1.1.1 # For external lookups.
    environment:
      - "TS_AUTHKEY=${TS_AUTH_KEY}"
      # - "TS_EXTRA_ARGS=--advertise-tags=tag:container"
      - "TS_SERVE_CONFIG=/config/tandoor.json"
      - "TS_STATE_DIR=/var/lib/tailscale"
      - "TS_USERSPACE=false"
    hostname: tandoor
    image: tailscale/tailscale:v1.92.4
    restart: unless-stopped
    volumes:
      - ${PWD}/tailscale-tandoor-data/state:/var/lib/tailscale
      - ${PWD}/config:/config
    labels:
      - 'wud.tag.include=^v\d+\.\d+\.\d+$$'
      - "wud.link.template=https://github.com/tailscale/tailscale/releases/tag/$${major}.$${minor}.$${patch}"
volumes:
  staticfiles:
  tandoor_pg_data:
